@page "/harry-potter"
@using Microsoft.EntityFrameworkCore
@inject Data.ApplicationDbContext DbContext

<h3>Harry Potter Books</h3>

@if (books == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var book in books)
        {
            <li>
                <strong>@book.BookName</strong> - @book.Genre <br />
                <img src="@book.ImagePath" width="100" />
                <p>@book.SmallDescription</p>
                <p>Price: $@book.Price</p>
            </li>
        }
    </ul>
}

@code {
    private List<Book>? books;

    protected override async Task OnInitializedAsync()
    {
        books = await DbContext.Books
            .Where(b => b.Genre == "Fantasy")
            .ToListAsync();
    }
}